{% extends 'myapp/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'myapp/styles/style.css' %}">
{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="text">

    <h2>Наши планы и задачи</h2>
    <p>3 задачи, которые стоит перед "Все сувениры мира":
        Расширение ассортимента продукции:
        Задача: Разработать новые дизайны сувениров, отражающие культуры различных стран и традиции.
        План: Провести исследование популярных тем и трендов в дизайне, заключить партнерства с художниками и
        дизайнерами.
        Развитие онлайн-присутствия:
        Задача: Увеличить онлайн-продажи и привлечь новых клиентов через интернет.
        План: Обновить веб-сайт, запустить маркетинговые кампании в социальных сетях, создать программу лояльности для
        онлайн-покупателей.
        Открытие новых розничных точек:
        Задача: Расширить географию присутствия компании.
        План: Провести маркетинговый анализ для определения перспективных регионов, открыть новые магазины в ключевых
        торговых точках.</p>
        <img src="{% static 'myapp/img/img1.png' %}">
</div>


{% endblock %}
