{% extends 'myapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="text">
    <h2>История создания компании</h2>
    <p>Давным-давно, в маленьком городе, где каждый день казался одинаковым, жили два старых друга, Александр и
        Виктория. Они разделяли общую любовь к путешествиям и открытиям, и всегда мечтали привнести что-то уникальное в
        рутину своего местного сообщества. 
        Однажды, возвращаясь из захватывающего путешествия по далеким странам, Александр и Виктория решили, что хотят
        поделиться своими впечатлениями и воспоминаниями с другими. Так зародилась идея создать компанию, которая
        предложит нечто особенное — уникальные сувениры, вдохновленные разнообразными культурами мира.

        С таким энтузиазмом и желанием создать нечто удивительное, Александр и Виктория основали компанию "Все сувениры
        мира". С каждым изготовленным сувениром они вкладывали частичку своей любви к путешествиям и желание делиться
        этой любовью с другими.
        Началось с небольшого магазинчика, где они сами создавали уникальные сувениры вручную. С течением времени и с
        ростом популярности, компания расширила свою деятельность, предлагая широкий ассортимент продукции — от
        увлекательных магнитов до стильных предметов интерьера, каждый из которых нес в себе кусочек их страсти к
        исследованиям.
        Таким образом, "Все сувениры мира" стали не просто компанией по производству сувениров, но настоящим источником
        вдохновения для тех, кто ценит уникальность и красоту мира.</p>
</div>
{% endblock %}
